.buton{
    background-color: #266262;
    color: white;    
    border: none;
    padding: 10px;
}
.buton:hover{
    background-color: #96D4D4;
    color: #266262;
}
.cc{
    margin-top: 450px;
    margin-left: 200px;
    position: absolute;
}
input{
    background-color: #96D4D4;
}