<div class="nav sidebar-opener" (click)="sidebarShow = !sidebarShow">
    Angular UI
  </div>
  

<!-- <div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    Click me to open/close the sidebar
</div> -->

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >
      X
  </div>
    <div class="sidebar-content">
      <div>SIDEBAR</div>
    </div>
</div>
<div class="col cc">
    First Name:<br>
    <input type="text" [(ngModel)]="firstName"><br>
    Last Name:<br>
    <input type="text" [(ngModel)]="lastName">
    <br><br>
    <button type="submit" (click)="createPerson()" class="buton">Add New Person</button><br>
</div>
<div class="form-area updateform col cc">
    First Name:<br>
    <input type="text" [(ngModel)]="upFirstName"><br>
    Last Name:<br>
    <input type="text" [(ngModel)]="upLastName">
    <br><br>
    <button type="submit" (click)="updateePerson()" class="buton">Update Person</button><br>
</div>

<div class="tablo">
    <table class="table col">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let data of datas"> 
                <td>{{ data.id }}</td>
                <td>{{ data.firstName }}</td>
                <td>{{ data.lastName }}</td>
                <td><button class="buton" (click)="deletePerson(data.id)">Delete </button> &nbsp;
                    <button class="buton" (click)="updatePerson(data.id)">Update</button></td>
            </tr>
        </tbody>
      </table>
      

</div>
